.podcast-container {
    margin: 25px 250px 25px 250px;
    
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        a {
            text-decoration: none;
            border-radius: 100%;
            border: 1px solid grey;
            padding: 10px;
        }
    }

    .podcard {
    
        display: flex;
        /* flex-wrap:wrap-reverse; */
        box-shadow: 8px 8px 4px 2px rgba(0, 0, 0.5, 0.5);
        justify-content: center;
        align-items: center;

        img {
            height: 300px;
            width: 220px;
        }

        h2 {
            width: 250px;
            color: #F23A2E;
            font-weight: 300;
            margin: 8px;
        }

        span {
            color: grey;
            margin: 8px;
        }

        p {
            margin: 8px;
        }

        .podmain {
            margin: 15px;
        }

        audio {
            color: black;
        }
    }
}


@media screen and (max-width:576px) {
    .podcast-container {
        .podcard {
            display: flex;
            flex-direction: column;

            img {
                width: 350px;

            }
        }
    }
}